[Unit]
Description=Arclift Backup Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/arclift

[Install]
WantedBy=multi-user.target
